.holder{
    display:flex;
    flex-direction: row;
}

.folderBox {
    text-decoration: none;
}

.folder {
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    padding: 3px;
    margin-left: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: lightblue;
}

#addFolderButton {
    margin: 0 25px;
    padding: 5px;
    border-radius: 5px;
    width: 75%;
}

.sidebar {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.note-box {
    text-decoration: none;
}

.note-list {
    margin: 5px 10px;
    border: 1px solid grey;
    min-width: 300px;
    text-align: center;
    border-radius: 5px;
    background-color: lightblue;
    padding: 5px;
}

.note-list h2 {
    color: rgb(255, 255, 255);
}

#add-note {
    margin-left: 28%;
    margin-bottom: 50px;
    height: 25px;
    padding: 3px;
    border-radius: 5px;
    width: 150px;
    margin-top: 10px;
}

.header-link {
    text-decoration: none;
}

.header {
    font-size: 32px;
    margin: 10px 15px;
    border: 5px solid lightblue;
    border-radius: 5px;
    text-align: center;
}

.header h1 {
    color: lightblue;
}

#note-list-delete {
    width: 30%;
    padding: 3px;
}

.delete-folder-button {
    color: red;
    font-weight: 700;
    border: none;
    background-color: lightblue;
    display: flex;
    justify-self: flex-end;
}