.holder{
    display:flex;
    flex-direction: row;
}

.folderBox {
    text-decoration: none;
}

.folder {
    text-decoration: none;
    border: 1px solid black;
    text-align: center;
    padding: 3px;
    margin-left: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: lightblue;
}

#addFolderButton {
    margin-left: 35%;
    padding: 3px;
    border-radius: 5px;
}